.cohort-body {
  width: 1400px;
  margin: 20px auto;
}

.cohort-header {
  color: #3b6fb6;
  overflow: hidden;
}

.cohort-subheader {
  color: #3b6fb6;
}

.cohort-header-description {
  color: #605f5f;
  margin: 10px 0;
  font-size: 17px;
  width: 100%;
}

.cohort-descriptor {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
}


.header-summary {
  float: right;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 15px;
  color: #949494;
}

.header-summary-tile {
  float: left;
  margin-left: 3px;
  padding: 9px;
}

.header-summary-export {
  float: left;
  font-size: 16px;
  padding: 1px 25px;
  margin-right: 3px;
}

.cohort-dictionary {
  float: right;
  width: 100%;
  margin: 5px 0 15px;
}

.cohort-dictionary-header {
  float: left;
  width: 50%;
  color: #3b6fb6;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
}

.cohort-actions {
  float: right;
}
