.cohort-body {
  width: 1400px;
  margin: 20px auto;
}

.cohort-header {
  color: #3b6fb6;
  width: 100%;
  overflow: hidden;
}

.cohort-header-title {
  width: calc(100% - 450px);
  float: left;
  font-size: 30px;
  margin: 2px 0;
}

.cohort-header-summary {
  //width: 443px;
  float: right;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 15px;
  color: #949494;
}

.cohort-header-description {
  color: #605f5f;
  margin: 10px 0;
  font-size: 17px;
  width: 100%;
  float: left;
}

.cohort-header-subtitle {
  font-size: 18px;
  color: #949494;
}

.cohort-descriptor {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
}

.header-summary-tile {
  float: left;
  margin-left: 3px;
  padding: 9px;
}

.header-summary-export {
  float: left;
  font-size: 16px;
  padding: 1px 25px;
  margin-right: 3px;
}

.cohort-dictionary {
  float: right;
  width: 100%;
  margin: 5px 0 15px;
}

.cohort-dictionary-header {
  float: left;
  width: 50%;
  color: #3b6fb6;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif
}

.cohort-actions {
  float: right;
}

.cohort-content-card {
  width: calc(50% - 24px);
  float: left;
  margin: 4px;
  padding: 5px;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}

.cohort-content-card-full {
  width: calc(100% - 24px);
}

.card-header {
  color: #3b6fb6;
  font-size: 20px;
  border-bottom: 1px solid #a4bde5;
  margin: 5px 0;
  padding-bottom: 5px;
}

::ng-deep .mat-header-cell {
  font-size: 14px;
}

.dialog-wrapper {
  border-radius: 5px;
  float: left;
  //padding: 2px 6px;
  cursor: pointer;
  color: #497bfa;
}

.ontology-wrapper {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  float: left;
  padding: 2px 6px;
  cursor: pointer;
  color: #7c7c7c;
}

tr.mat-row, tr.mat-footer-row {
  height: 28px;
}

table {
  border: none;
}

.mat-header-cell {
  text-align: left;
}

td.mat-cell {
  border: none;
}

