<div class="cohort-body" *ngIf="cohort">

  <div class="cohort-header">
    <div class="cohort-header-title">
      <div class="header-title">{{cohort['cohortName']}}</div>
      <div class="header-title cohort-header-subtitle">{{cohort['accession']}}</div>
    </div>

    <div class="cohort-header-summary">
      <div class="header-summary-tile">{{cohortSummary.dictionaryTerms}} Fields</div>
      <div class="header-summary-tile">{{cohortSummary.mappedTerms}} Mapped Fields</div>
      <div class="header-summary-tile">{{cohortSummary.archiveLinks}} Archive Links</div>
      <button mat-flat-button color="primary" class="header-summary-export">Export</button>
    </div>

    <div class="cohort-header-description">{{cohort['description']}}</div>
  </div>


  <mat-tab-group animationDuration="0ms" mat-align-tabs="start" class="cohort-content-main">
    <mat-tab label="Metadata">

      <div class="cohort-content-card">
        <div class="card-header">Overview</div>
        <div>
          <table class="mat-table" style="width: 100%">
            <tr class="mat-row">
              <td class="mat-header-cell">Acronym</td>
              <td class="mat-cell">{{cohort['acronym']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Website</td>
              <td class="mat-cell"><a href="{{cohort['website']}}">{{cohort['cohortName']}}</a></td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">License</td>
              <td class="mat-cell">{{cohort['license']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Provider</td>
              <td class="mat-cell">
                <div class="dialog-wrapper" (click)="openDialog()">
                  {{cohort['provider']['name']}}
                </div>
              </td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Data Sharing</td>
              <td class="mat-cell">
                <div class="ontology-wrapper" matTooltip="{{cohort.dataSharing.label}}" *ngIf="cohort.dataSharing">
                  {{cohort.dataSharing.label}}
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="cohort-content-card">
        <div class="card-header">Study Design</div>
        <div>
          <table class="mat-table" style="width: 100%">
            <tr class="mat-row">
              <td class="mat-header-cell">Type</td>
              <td class="mat-cell">{{cohort['type']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Study Design</td>
              <td class="mat-cell">{{cohort.studyDesign}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Start - End Year</td>
              <td class="mat-cell">{{cohort['startDate']}} - {{cohort['endDate']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Target Enrollment</td>
              <td class="mat-cell">{{cohort['targetEnrollment']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Total Enrollment</td>
              <td class="mat-cell">{{cohort['totalEnrollment']}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="cohort-content-card">
        <div class="card-header">Additional Information</div>
        <div>
          <table class="mat-table" style="width: 100%">
            <tr class="mat-row">
              <td class="mat-header-cell">Contacts</td>
              <td class="mat-cell">
                <div class="dialog-wrapper" (click)="openDialog()" *ngFor="let contact of cohort.contacts">
                  {{contact['name'] + ", "}}
                </div>
              </td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Investigators</td>
              <td class="mat-cell">
                <div class="dialog-wrapper" (click)="openDialog()" *ngFor="let contact of cohort.investigators">
                  {{contact['name'] + ", "}}
                </div>
              </td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Publications</td>
              <td class="mat-cell">
                <div class="dialog-wrapper" (click)="openDialog()" *ngFor="let publication of cohort.publications">
                  {{publication.url}}
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="cohort-content-card">
        <div class="card-header">Data Types</div>
        <div>
          <table class="mat-table" style="width: 100%">
            <tr class="mat-row">
              <td class="mat-header-cell">Biospecimens</td>
              <td class="mat-cell">{{cohort.dataTypes.biospecimens}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Environmental</td>
              <td class="mat-cell">{{cohort['dataTypes']['environmentalData']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Genomic</td>
              <td class="mat-cell">{{cohort['dataTypes']['genomicData']}}</td>
            </tr>
            <tr class="mat-row">
              <td class="mat-header-cell">Phenotypic</td>
              <td class="mat-cell">{{cohort['dataTypes']['phenotypicData']}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="cohort-content-card cohort-content-card-full">
        <div class="card-header">Territories</div>
        <div>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" *ngFor="let territory of cohort.territories">
              {{territory}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="cohort-content-card cohort-content-card-full">
        <div class="card-header">Relationships</div>
        <div>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected [matMenuTriggerFor]="menu" *ngFor="let rel of cohort['relationships']">
              {{rel.source}}
            </mat-chip>
          </mat-chip-list>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Go to resource</button>
            <button mat-menu-item [matMenuTriggerFor]="exportFormats">Export to format</button>
          </mat-menu>
          <mat-menu #exportFormats="matMenu">
            <button mat-menu-item>OMOP</button>
            <button mat-menu-item>GECKO</button>
          </mat-menu>
        </div>
      </div>


      <div class="cohort-content-card cohort-content-card-full">
        <div class="card-header">Funding</div>
        <div>{{cohort.funding}}</div>
      </div>
      <div class="cohort-content-card cohort-content-card-full">
        <div class="card-header">Acknowledgement</div>
        <div>{{cohort.acknowledgements}}</div>
      </div>

    </mat-tab>

    <mat-tab label="Dictionary">
      <div class="cohort-dictionary">
        <div class="cohort-dictionary-header">Cohort Dictionary</div>
        <button mat-flat-button color="primary" class="header-summary-export cohort-actions">Download Mapping</button>
        <button mat-flat-button color="primary" class="header-summary-export cohort-actions">Generate Synthetic</button>
      </div>

      <table class="mat-table" style="width: 100%">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Name</th>
          <th class="mat-header-cell">Description</th>
          <th class="mat-header-cell">Type</th>
          <th class="mat-header-cell">Parent</th>
          <th class="mat-header-cell">Mapping</th>
          <th class="mat-header-cell">Tags</th>
        </tr>

        <tr class="mat-row" *ngFor="let field of cohort['dictionary']">
          <td class="mat-cell">{{field.name}}</td>
          <td class="mat-cell">{{field.description}}</td>
          <td class="mat-cell">String</td>
          <td class="mat-cell"> - </td>
          <td class="mat-cell">{{field.annotation}}</td>
          <td class="mat-cell"> - </td>
        </tr>
      </table>
    </mat-tab>
    <mat-tab label="FAIR Indicators">
      <div class="cohort-fair-indicators">
        FAIR Indicators displays the FAIRness of the cohort/dataset measured using <a href="https://fairplus.github.io/Data-Maturity/">FAIRplus Dataset Maturity (DSM) Model</a>.
      </div>

      <table class="mat-table" style="width: 100%">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Indicator</th>
          <th class="mat-header-cell">Assessment Score</th>
        </tr>

<!--        <tr class="mat-row">-->
<!--          <td class="mat-cell">{{field.name}}</td>-->
<!--          <td class="mat-cell">{{field.description}}</td>-->
<!--        </tr>-->
      </table>
    </mat-tab>
  </mat-tab-group>

</div>
