.cohort-body {
  width: 1400px;
  margin: 20px auto;
}

.cohort-header {
  color: #3b6fb6;
}

.cohort-subheader {
  color: #3b6fb6;
}

.cohort-header-description {
  color: #605f5f;
  margin: 10px 0;
  font-size: 17px;
  width: 100%;
}

.cohort-descriptor {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
}
