<header class="main-header">
  <a href="/" class="vf-logo | vf-logo--has-text header-logo">
    <img class="vf-logo__image" src="./assets/logo_biosamples.png"
         alt="BioSamples Cohort Atlas" loading="eager">
    <span class="vf-logo__text logo-text">Cohort Atlas</span>
  </a>

  <div class="header-nav" style="float: right">
    <nav class="vf-navigation vf-navigation--main | vf-cluster">
      <ul class="vf-navigation__list | vf-list | vf-cluster__inner">
<!--        <li class="vf-navigation__item">-->
<!--          <a routerLink="/home" class="vf-navigation__link main-menu-item" aria-current="page">Home</a>-->
<!--        </li>-->
        <li class="vf-navigation__item">
          <a routerLink="/cohorts" class="vf-navigation__link main-menu-item" aria-current="page">Cohorts</a>
        </li>
        <li class="vf-navigation__item">
          <a routerLink="/register" class="vf-navigation__link main-menu-item" aria-current="page">Register</a>
        </li>
        <li class="vf-navigation__item">
          <a routerLink="/harmonise" class="vf-navigation__link main-menu-item" aria-current="page">Harmonise</a>
        </li>
        <li class="vf-navigation__item">
          <a routerLink="/about" class="vf-navigation__link main-menu-item" aria-current="page">About</a>
        </li>
      </ul>
    </nav>
  </div>

<!--  <div class="header-search">-->
<!--    <div class="vf-form__item header-search-input">-->
<!--      <label class="vf-form__label vf-u-sr-only | vf-search__label" for="searchitem">Search</label>-->
<!--      <input type="search" placeholder="search cohorts" id="searchitem" class="vf-form__input">-->
<!--    </div>-->

<!--    <button class="vf-button vf-button&#45;&#45;primary vf-button&#45;&#45;sm header-search-button">-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
<!--  </div>-->

</header>





