.main-header {
  overflow: hidden;
  margin: 0 8px;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.header-logo {
  width: 300px;
  float: left;
  margin-top: 3px;
}

.header-nav {
  //width: calc(60% - 300px);
  float: right;
  margin-top: 14px;
}

.main-menu-item {
  color: #696969;
}

.header-search {
  width: 25%;
  float: right;
}

.header-search-input {
  width: calc(100% - 86px);
  float: left;
}

.header-search-button {
  width: 60px;
  height: 45px;
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

.logo-text {
  font-size: 20px;
  margin-top: 7px;
}
