<div class="harmonise-body">

  <div class="vf-section-header">
    <h2 class="vf-section-header__heading section-header">Data Dictionary Harmonisation</h2>
    <p class="vf-section-header__text">Once the data dictionary is uploaded, we will try to harmonise it and find
      mappings with the standard fields.
      The table below lists data dictionary fields and mapping suggestions. Select a suggestion or suitable field.
      Optionally tag the dictionary fields with available tags. The mappings will improve the discoverability of the
      cohort.
      Once the mapping is completed, mapping rules can be downloaded in several different standards including GECKO,
      Maelstrom, OMOP.
    </p>
  </div>

  <div class="harmonise-template-wrapper">
    Download the CSV/spreadsheet template, or try out harmonisation with test data:
    <button mat-raised-button class="harmonise-template-btn">Download CSV template</button>
    <button mat-raised-button class="harmonise-template-btn">Download Test Data</button>
    <button mat-button (click)="openDialog({
    name: 'gen_xyz',
    label: 'gender',
    description: 'gender of the participant',
    type: 'enum',
    values: '1, 2',
    parent: 'Physical Characteristics',
    suggestions: [{'fieldName': 'Gender', 'matchPercentage': 85}, {'fieldName': 'Sex', 'matchPercentage': 70}],
    tags: ''
    })">Suggesstion</button>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <mat-form-field class="field-filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="eg. smoking" #input>
  </mat-form-field>


  <button mat-raised-button color="primary" class="button-save" (click)="saveDictionary()">Save</button>
  <button mat-raised-button color="primary" class="button-save" (click)="saveDictionary()">Save and Finish Mapping
  </button>
  <button mat-raised-button color="primary" class="button-save" (click)="f_input.click()">Upload File</button>
  <input type='file' hidden #f_input (change)="handleFileInput($event)"/>

  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Label</th>
        <td mat-cell *matCellDef="let row"> {{row.label}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Type</th>
        <td mat-cell *matCellDef="let row"> {{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="values">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Field Values</th>
        <td mat-cell *matCellDef="let row"> {{row.values}} </td>
      </ng-container>
      <ng-container matColumnDef="parent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent</th>
        <td mat-cell *matCellDef="let row"> {{row.parent}} </td>
      </ng-container>
      <ng-container matColumnDef="suggestions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotation/Suggestion</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="openDialog(row)">{{row.annotation}}</button>
          <!--          <mat-form-field appearance="fill">-->
          <!--            <mat-select value="{{ row.suggestions[0] }}">-->
          <!--              <mat-option *ngFor="let option of row.suggestions" [value]="option">-->
          <!--                {{option}}-->
          <!--              </mat-option>-->
          <!--              <mat-option *ngFor="let option of options" [value]="option">-->
          <!--                {{option}}-->
          <!--              </mat-option>-->
          <!--            </mat-select>-->
          <!--          </mat-form-field>-->
        </td>
      </ng-container>
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tags</th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field class="example-form-field">
            <input matInput type="text" [(ngModel)]="row.tags">
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of dictionary fields"></mat-paginator>
  </div>
</div>
