.harmonise-body {
  margin: 15px;
}

.section-header {
  color: #3b6fb6;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.field-filter {
  width: 50%;
}

.button-save {
  float: right;
}

//td, th {
//  width: 25%;
//}
