.harmonise-body {
  margin: 15px;
}

.section-header {
  color: #3b6fb6;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.field-filter {
  width: 50%;
}

.button-save {
  float: right;
  margin-left: 10px;
}

.harmonise-template-wrapper {
  background-color: #e1e1e1;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}

.harmonise-template-btn {
  margin-left: 10px;
}

//td, th {
//  width: 25%;
//}
