<div class="home-body">

  <div class="header">
    <div class="header-title">
      Cohort Atlas: Data Browser
    </div>

    <div class="cohort-search">
      <input matInput placeholder="eg. UKB" class="cohort-search-input" [(ngModel)]="searchText">
      <button mat-button color="primary" class="cohort-search-btn" (click)="applyFilters(filters, 0)">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div *ngIf="facetSummary" class="header-summary">
      <div class="header-summary-tile">{{facetSummary.projects}} Projects</div>
      <div class="header-summary-tile">{{facetSummary.datasets}} Cohorts</div>
      <div class="header-summary-tile">{{facetSummary.variables}} Fields</div>
      <div class="header-summary-tile">{{facetSummary.harmonisedVariables}} Mapped Fields</div>
      <div class="header-summary-tile">{{facetSummary.links}} Archive Links</div>
      <button mat-flat-button color="primary" class="header-summary-export">Export</button>
    </div>
  </div>

  <div class="filter-table-wrapper">
    <div class="filters">
      <div>
        <app-facet-panel (applyFilterEvent)="applyFilters($event, 0)"></app-facet-panel>
      </div>
    </div>

    <div class="cohort-content">
      <mat-tab-group animationDuration="0ms" mat-align-tabs="start" class="cohort-content-main">
        <mat-tab label="Cohorts">
          <app-table *ngIf="cohortsTableBuilder" [data]="cohorts" [tableBuilder]="cohortsTableBuilder" (pageChange)="nextPage($event)"></app-table>
        </mat-tab>
        <mat-tab label="Projects">
          <app-table *ngIf="projectsTableBuilder" [data]="projects" [tableBuilder]="projectsTableBuilder"></app-table>
        </mat-tab>
        <mat-tab label="Variables">
          <app-table *ngIf="fieldTableBuilder" [data]="fields" [tableBuilder]="fieldTableBuilder"></app-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
