<div class="login-wrapper">
  <div class="login-title">Please select your login provider</div>
  <a href="http://localhost:8080/oauth2/authorization/keycloak">
    <div class="login-method">LOCAL LOGIN</div>
  </a>
  <div class="login-method">WEBIN <span style="color: #ee5353; font-size: 12px">(not implemented)</span></div>
  <div class="login-method">GA4GH <span style="color: #ee5353; font-size: 12px">(not implemented)</span></div>
  <div class="login-method">ELIXIR LIFE <span style="color: #ee5353; font-size: 12px">(not implemented)</span></div>
</div>
