//.cohort-atlas-header {
//  height: 200px;
//  width: 100%;
//  background-color: #e0e0e0;
//}

.cohort-atlas-body {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

//.cohort-atlas-footer {
//  height: 100px;
//  width: 100%;
//  background-color: #e0e0e0;
//}
