//.cohort-atlas-header {
//  height: 200px;
//  width: 100%;
//  background-color: #e0e0e0;
//}

.cohort-atlas-body {
  background: #f7f7f7;
  width: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}

.cohort-atlas-footer {
  width: 99%;
  display: block;
  background-color: #54585a;
}
