<div class="register-body">

  <div class="vf-section-header">
    <h2 class="vf-section-header__heading section-header">Register New Cohort</h2>
    <p class="vf-section-header__text">Registration contains 3 steps. First step is mandatory which will register the
      cohort and generate an accession. Optional second and third steps will improve the FAIRness of the cohort. </p>
  </div>

  <mat-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="registerStudyForm" label="Register cohort with `Admin Metadata`">
      <app-register-basic #registerBasicComponent (accessionEmitter)="getRegisteredCohortAccession($event)"></app-register-basic>
    </mat-step>

    <mat-step [stepControl]="registerAdditionalStudyForm" label="Fill in additional data">
      <app-register-additional #registerAdditionalComponent [accession]="accession"></app-register-additional>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Upload `Data Dictionary`</ng-template>
      <app-register-dictionary [accession]="accession"></app-register-dictionary>
    </mat-step>
  </mat-stepper>

</div>
