
<mat-accordion>
  <!--      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">-->
  <mat-expansion-panel style="border-radius: 0; box-shadow: none; border: 2px solid #3b6fb6; border-bottom: 4px solid green">
    <mat-expansion-panel-header style="height: 35px; background-color: #3b6fb6">
      <mat-panel-title>Data Types</mat-panel-title>
      <mat-panel-description>
        <!--            Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox class="filter-facet-item">Biospecimens</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Environmental Data</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Genomic Data</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Phenotypic Data</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Other</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel style="border-radius: 0; box-shadow: none; border: 2px solid #3b6fb6; border-bottom: 4px solid green; margin-top: 3px">
    <mat-expansion-panel-header style="height: 35px; border-bottom: 2px solid #3b6fb6">
      <mat-panel-title>Territory</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox class="filter-facet-item">UK</mat-checkbox>
    <mat-checkbox class="filter-facet-item">South Africa</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Canada</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel style="border-radius: 0; box-shadow: none; border: 2px solid #3b6fb6; border-bottom: 4px solid green; margin-top: 3px">
    <mat-expansion-panel-header style="height: 35px; border-bottom: 2px solid #3b6fb6">
      <mat-panel-title>License</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox class="filter-facet-item">MIT</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Apache</mat-checkbox>
    <mat-checkbox class="filter-facet-item">BSD</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel style="border-radius: 0; box-shadow: none; border: 2px solid #3b6fb6; border-bottom: 4px solid green; margin-top: 3px">
    <mat-expansion-panel-header style="height: 35px; border-bottom: 2px solid #3b6fb6">
      <mat-panel-title>Treatment</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox class="filter-facet-item">Antibiotic</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Any Oxygen therapy</mat-checkbox>
    <mat-checkbox class="filter-facet-item">Chloroquine/hydroxychloroquine</mat-checkbox>
  </mat-expansion-panel>

</mat-accordion>
