.filter-header {
  color: #7c7c7c;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  float: left;
  width: 100px;
}

.filters {
  margin-left: -10px;
  padding-left: 10px;
  background: #f7f7f7;
}

.applied-filters {
  margin-left: -10px;
  padding-left: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #f1f1f1;
}

.clear-filter-btn {
  color: #cecece;
  float: right;
  margin-right: 10px;
  margin-top: 1px;
}

.filter-facet-item {
  width: 100%;
}

.filter-facet {
  border-radius: 2px;
  box-shadow: none;
  margin-top: 5px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #f6f6f6;
  background: #f7f7f7;
}

.filter-facet-header {
  height: 42px;
}

.submit-filters-btn {
  float: right;
}

:host ::ng-deep .mat-badge-content
{
  right: -6px !important;
  top: 2px !important;
  background: #e7e7e7;
  color: #7c7c7c;
  text-overflow: ellipsis;
}

:host ::ng-deep .mat-checkbox-layout {
  width: 90%;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  word-break: break-all;
}
