.table-header {
  height: 28px;
}

.cohort-table-container {
  height: 100%;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  padding: 0 10px;
  background: #ffffff;
}

.table-controls {
  width: 100%;
  background: white;
  display: block;
  overflow: hidden;
  margin-bottom: -10px;
}

.table-paginator {
  float: left;
  margin-left: -10px;
}

.table-columns-btn {
  float: right;
  color: #7c7c7c;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.th-parent {
  text-align: center;
}

.th-first {
  padding-left: 0;
}

.th-last {
  padding-right: 0;
}

.icon-center {
  display: inline-block;
  text-align: center;
}

.icon-xs {
  color: #7c7c7c;
  font-size: 12px;
  padding: 0 1px;
}

.table-link {
  cursor: pointer;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  margin-left: 0;
}

.mat-row:hover {
  background-color: #eaecfa;
}

.column-select-wrapper {
  padding: 20px;
}

.column-select-option {
  width: calc(50% - 10px);
}
