<section class="cohort-table-container" tabindex="0">
  <div style="float: right; margin: -5px 5px">...</div><!--edit columns here-->

  <table mat-table [dataSource]="tableBuilder.data">
    <ng-container *ngFor="let colDef of tableBuilder.getColumnDefinitions() | keyvalue" [matColumnDef]="colDef.key">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="colDef.value['rowspan']" [attr.colspan]="colDef.value['colspan']">
        <ng-container *ngIf="colDef.value['icon']">
          <i title="phenotypic" class="icon icon-padder icon-center" [ngClass]="colDef.value['icon']"></i>
        </ng-container>
        <ng-container *ngIf="!colDef.value['icon']">
          {{colDef.key}}
        </ng-container>
      </th>
      <ng-container *ngIf="colDef.value['colspan'] == 1">
        <td mat-cell *matCellDef="let element" class="table-link" [routerLink]="['/cohort']" [queryParams]="{ accession: element['accession']}">
          <ng-container *ngIf="'boolean'===colDef.value['type']">
            <i class="icon icon-common icon-center icon-xs" [ngClass]="getChildElementValue(element, colDef.value['path']) ? 'icon-check' : 'icon-minus'"></i>
          </ng-container>
          <ng-container *ngIf="'boolean'!==colDef.value['type']">
            {{getChildElementValue(element, colDef.value['path'])}}
            <i *ngIf="!getChildElementValue(element, colDef.value['path'])" class="icon icon-common icon-center icon-xs icon-minus"></i>
          </ng-container>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableBuilder.getHeaderNames()" class="table-header"></tr>
    <tr mat-header-row *matHeaderRowDef="tableBuilder.getSubHeaderNames()" class="table-header"></tr>
    <tr mat-row (click)="onClickTableRow(row)" *matRowDef="let row; columns: tableBuilder.getTableHeaders();"></tr>
  </table>

  <mat-paginator [length]="totalRecords" [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="dataset pages">
  </mat-paginator>
</section>
